<div class="auth-form">
  <div [class]="loginSuccess ? 'auth-input' : 'auth-input invalid'">
    <input [(ngModel)]="loginRequest.username" type="text" placeholder="Username">
  </div>
  <div [class]="loginSuccess ? 'auth-input' : 'auth-input invalid'">
    <input [(ngModel)]="loginRequest.password" type="password" placeholder="Password">
  </div>
  <div class="auth-input">
    <label class="auth-checkbox">
      <input [(ngModel)]="rememberMeParam.rememberMe" type="checkbox">
      <span></span>
      Remember Me?
    </label>
  </div>
  <div class="auth-input">
    <button (click)="login()">Sign In</button>
  </div>
</div>
