<div class="auth-form">
  <div [class]="usernameValid ? 'auth-input' : 'auth-input invalid'">
    <input type="text" placeholder="Username" [(ngModel)]="signUpRequest.username">
  </div>
  <div [class]="emailValid ? 'auth-input' : 'auth-input invalid'">
    <input type="email" placeholder="Email" [(ngModel)]="signUpRequest.email">
  </div>
  <div [class]="passwordValid ? 'auth-input' : 'auth-input invalid'">
    <input type="password" placeholder="Password" [(ngModel)]="signUpRequest.password">
  </div>
  <div [class]="confirmValid ? 'auth-input' : 'auth-input invalid'">
    <input type="password" placeholder="Confirm Password" [(ngModel)]="signUpRequest.confirm">
  </div>

  <div class="auth-input">
    <button (click)="signUp()">Sign Up</button>
  </div>
</div>
