.auth-form {
  width: 100%;
}
.auth-input {
  width: 100%;
  margin-bottom: 16px;
}
.auth-input:last-of-type {
  margin-bottom: 0;
}
.auth-input.invalid > input {
  border: 2px solid #ff0000;
}
input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  line-height: 2em;
  padding: 10px;
  font-weight: 500;
  font-size: 1em;
  color: #222;
  border: 2px solid #ebebeb;
  transition: all 0.2s ease;
}
input[type="text"]:focus, input[type="password"]:focus, input[type="email"]:focus {
  outline: 0;
  border: 2px solid #ffe800 !important;
}
.auth-checkbox {
  position: relative;
  display: block;
  padding-left: 40px;
  user-select: none;
  color: #222;
  font-weight: 500;
  font-size: 1em;
  cursor: pointer;
  margin: 30px 0;
}
.auth-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.auth-checkbox span {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #fff;
  border: 2px solid #ebebeb;
}
.auth-checkbox span:after {
  content: "";
  position: absolute;
  display: none;
}
.auth-checkbox input:checked ~ span {
  background-color: #ffe800;
  border: 2px solid #ffe800;
}
.auth-checkbox input:checked ~ span:after {
  display: block;
}
.auth-checkbox span:after {
  left: 9px;
  top: 3px;
  width: 5px;
  height: 13px;
  border: solid #222;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.auth-input button {
  width: 100%;
  padding: 16px;
  font-weight: bold;
  font-size: 0.9em;
  color: #222;
  background: #ffe800;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.2);
}
