<div class="nav-container flex">
  <div class="nav-auth p-20">
    <button class="nav-login-btn" *ngIf="!user" (click)="showAuthContainer()">{{'NAV.SIGN_IN_BTN' | translate}}</button>
    <button class="nav-login-btn" *ngIf="user" (click)="logout()">{{'NAV.SIGN_OUT_BTN' | translate}}</button>

    <button *ngFor="let locale of locales" class="nav-login-btn m-l-10" (click)="changeLocale(locale)">
      {{locale.toUpperCase()}}
    </button>
  </div>


  <div class="auth-wrapper flex-middle" *ngIf="authContainerVisible" (click)="hideAuthContainer($event)">
    <poi-authorization (onSuccessLogin)="handleSuccessLogin($event)"></poi-authorization>
  </div>

</div>
