<div class="auth-container">
  <div class="auth-tabs flex">
    <div [class]="signInMode ? 'active' : ''">
      <button (click)="signInMode = true">{{'NAV.AUTH.SIGN_IN_LBL' | translate}}</button>
      <span></span>
    </div>
    <div [class]="signInMode ? '' : 'active'">
      <button (click)="signInMode = false">{{'NAV.AUTH.SIGN_UP_LBL' | translate}}</button>
      <span></span>
    </div>
  </div>
  <div class="auth-tab">
    <poi-login *ngIf="signInMode"
               (onLogin)="login($event)"
               [loginSuccess]="loginSuccess"></poi-login>
    <poi-signup *ngIf="!signInMode"
                (onSignUp)="signUp($event)"
                [usernameValid]="usernameValid"
                [emailValid]="emailValid"
                [passwordValid]="passwordValid"
                [confirmValid]="confirmValid"></poi-signup>
  </div>
</div>
