.top {
  width: 100%;
  height: 50px;
  background: #2a2a2a;
  box-shadow: 0 1px 6px 0 rgba(0,0,0,0.3);
}
.top a {
  user-select: none;
}
.top-left {
  height: 100%;
}
.top-ham {
  height: 100%;
  padding: 0 20px;
  color: #d6d6d6;
  font-size: 1.33em;
  transition: all 0.2s ease;
}
.top-ham:hover {
  color: white;
}
.top-separator {
  display: block;
  height: 24px;
  width: 1px;
  box-shadow: 0 0 1px 0 rgba(255, 255, 255, 0.8);
  background: #aaa;
  margin: auto 0;
}
.top-logo {
  height: 100%;
  padding: 0 20px;
  font-size: 1em;
  font-weight: 600;
  color: #ddd;
  transition: all 0.2s ease;
}
.top-logo > i {
  color: #00e6cf;
  font-size: 1.25em;
  margin-right: 10px;
}
.top-logo:hover {
  color: #fff;
}

.top-right {
  height: 100%;
}
.top-right > div {
  height: 100%;
  position: relative;
}
.top-right > div > a {
  position: relative;
  height: 100%;
  padding: 0 16px;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 500;
  color: #d6d6d6;
  transition: all 0.2s ease;
}
.top-right > div > a:hover {
  color: #fff;
}
.top-user-btn {
  padding-right: 20px !important;
}
.top-user-btn > i {
  font-size: 1.4em;
  margin-left: 16px;
}
.top-popup {
  display: block;
  position: absolute;
  float: left;
  top: 70px;
  right: 20px;
  min-width: 220px;
  background: #fafafa;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.3);
  border-radius: 2px;
  z-index: 12;
}
.top-popup:before {
  position: absolute;
  content: '';
  top: -16px;
  right: 24px;
  border-left: 16px solid transparent;
  border-right: 16px solid transparent;
  border-bottom: 16px solid #fafafa;
  filter: drop-shadow(0 -2px 3px rgba(0,0,0,0.08));
}
.top-popup > a, .top-popup > a {
  display: block;
  width: 100%;
  padding: 9px 24px;
  line-height: 3em;
  font-weight: 600;
  font-size: 0.75em;
  color: #2a2a2a;
  border-bottom: 1px solid #ebebeb;
  transition: all 0.2s ease;
}
.top-popup > a:last-of-type {
  border-bottom: none;
}
.top-popup > a:hover, .top-popup > a:hover {
  color: #00b49c;
}
.top-user-popup > div {
  width: 100%;
  border-bottom: 1px solid #ebebeb;
}
.top-user-popup > div > img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.3);
}
.top-user-popup > div > h3 {
  display: block;
  width: 100%;
  margin: 0;
  line-height: 3em;
  font-weight: 700;
  text-align: center;
  font-size: 1em;
}
.top-lang-popup {
  right: -74px;
}
.top-lang-popup:before {
  right: 86px;
}
.top-lang-popup > a {
  display: flex;
}
.top-lang-popup > a > img {
  width: 30px;
  height: 30px;
}
.top-lang-popup > a.active {
  color: #00b49c;
}
.top-theme-btn {
  font-size: 1em !important;
}
.top-theme-popup {
  right: -90px;
}
.top-theme-popup:before {
  right: 100px;
}
.top-theme-popup > a {
  display: flex;
}
.top-theme-popup > a > img {
  width: 30px;
  height: 30px;
}
.top-theme-popup > a.active {
  color: #00b49c;
}
